

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');


/* LLAYLLA colors

Dark blue main: #003a4c
Dark blue med: #336170
Dark blue darker: #002e3d

Peach main: #ffd2bc
Peach med:  #ffdbc9
Peach fade: #ffe4d7

Red main: #ea3e00
Red med: #ee6533
Red fade: #f28b66 */

/* Light mode */
html {
    --bg: #ffffff;
    --textBg: #ffdbc9;
    --textBgDarker: #ffd2bc;
    --text: #003a4c;
    --h1: #ea3e00;
    --h2: #ea3e00;
    --h3: #003a4c;
    --h4: #003a4c;
    --h5: #003a4c; 
    --footBg: #003a4c;
    --footText: #ffe4d7;
    --btn: #003a4c;
    --btnText: #ea3e00;
    --link: #ea3e00;
    --boxShdw: #003a4c44;

    background-color: var(--bg);
}

/* Dark mode  */
html.dark {
    --bg: #003a4c;
    --textBg: #ee6533;
    --textBgDarker: #ee6533;
    --text: #ffe4d7;
    --h1: #ea3e00;
    --h2: #ffe4d7;
    --h3: #ffd2bc;
    --h4: #ffd2bc;
    --h5: #ffd2bc; 
    --footBg: #003a4c;
    --footText: #ffe4d7;
    --btn: #003a4c;
    --btnText: #ffd2bc;
    --link: #ee6533;
    --boxShdw: #ffd2bc22;

    background-color: var(--bg);
} 


body {
    --font-head: 'Jost', sans-serif;
    --font-body: 'Jost', sans-serif;

    position: relative;
    overflow: hidden;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: .1px;
}

body.dark {
    --font-head: 'Jost', sans-serif;
    --font-body: 'Jost', sans-serif;

    position: relative;
    overflow: hidden;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: .1px;
}

p {
    font-family: var(--font-body);
    font-weight: 300;
    color: var(--text);
}

time {
    font-family: var(--font-body);
    font-weight: 300;
    letter-spacing: .5px;
    color: var(--text);
}

li {
    font-family: var(--font-body);
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: .2px;
    color: var(--text);
    margin: 1em 0;
}

a {
    text-decoration: none;
    font-family: var(--font-body);
    font-weight: 300;
    color: var(--link);
}

h1 {
    font-family: var(--font-head);
    font-weight: 700;
    font-size: 3em;
    line-height: 1.25em;
    letter-spacing: .5px;
    text-align: center;
    color: var(--h1);
}

h2 {
    font-family: var(--font-head);
    font-weight: 200;
    font-size: 1.25em;
    line-height: 1.25em;
    letter-spacing: .5px;
    color: var(--h2);
}

h3 {
    font-family: var(--font-head);
    font-size: 1.25em;
    line-height: 1em;
    letter-spacing: .5px;
    color: var(--h3);
}

h4 {
    font-family: var(--font-body);
    font-size: 1em;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: .5px;
    color: var(--h4);
}

h5 {
    font-family: var(--font-body);
    font-weight: 400;
    line-height: 1.5;
    color: var(--h5);
}

button {
    padding: 0; 
    background: transparent;
    border: none;
    outline: 0;
}


/*** Home page GRID ***/
#master-grid-index {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-template-areas: 
        "nav"
        "main"
        "foot";
}


/*** NAV ***/
#topNavBox {
    grid-area: nav;
    position: relative;
}

#topNav {
    position: absolute;
    width: 100vw;
    top: 0em;
    left: 0em;
    z-index: 100;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
    "logo .";
}

#navLogo {
    grid-area: logo;
    justify-self: start;
    align-self: start;
    margin: 1em;
}
    #navLogo img {
        width: 2.5em;
    }

.navLogo.hidden {
    display: none;
}

.heroImg {
    width:100vw;
}
    .heroImg.hidden {
        display: none;
    }


/*** MAIN ***/
#main {
    grid-area: main;  

    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
        "tag"
        "miss"
        "mbp"
        "carou"
        "maid"
        "requ";
}

.icon {
    width: 1.5rem;
}

/*** Tag Line ***/
#tagLineBox {
    grid-area: tag;
    
    position: relative;
    height: 50vh;
}

.tagBg {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    opacity:.9;
    margin: -1em 0.75em 3em 0.75em;
}
    .tagBg.hidden {
        display: none;
    }

.tagOffsetStyle  {
    margin: 5em 0;
    width: 75vw;
    padding: 2em;
    border-radius: 1em; 
    background-color: var(--textBgDarker);
}
    
.tagWordLogo {
    display: flex;
    width: 13em;
    padding: 0 0 0.5em 0;
}
    .tagWordLogo.hidden {
        display: none;
    }


/*** TripleBg ***/
.tripleBg {
    position: relative;
    width: 95vw; 
}

.offsetMain {
    position: absolute;
    top: 1em;
    right: 0;
    z-index: 3;
}

.offsetLeft1 {
    position: absolute;
    top: 1.75em;
    right: 0.75em;
    opacity: 0.7;
    z-index: 2;
}

.offsetLeft2 {
    position: absolute;
    top: 2.5em;
    right: 1.5em;
    opacity: 0.6;
    z-index: 1;
}

.offsetBtnStyle {
    padding: 1em;
    border-radius: 1em; 
    background-color: var(--btn);
}

.offsetBtn {
    position: absolute;
    top: 1em;
    right: 0;
    z-index: 3;
}

.offsetBtnLeft1 {
    position: absolute;
    top: 1.5em;
    right: 0.5em;
    opacity: 0.7;
    z-index: 2;
}

.offsetBtnLeft2 {
    position: absolute;
    top: 2em;
    right: 1em;
    opacity: 0.6;
    z-index: 1;
}

.notViz {
    opacity: 0;
}


/*** Mission ***/
#missionBox {
    grid-area: miss;

    width: 100vw;
    display: grid;
    grid-template-rows: auto auto auto;

    margin: 2em auto;
}

#missionText {
    margin: 2em auto;
    padding: 1em;
    width: 80vw;
    justify-self: center;
    align-self: center;
}


/* Mask Bra Panty */
#maskBraPanty {
    grid-area: mbp;

    background-color: var(--textBg);
    margin: 1em 0.75em;
    padding: 1.5em;
    border-radius: 1em;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
        "h1"
        "mask"
        "bra"
        "pan"
        "text";
}
    #maskBraPanty img {
        width: 60vw;
        padding: 1.5em;
        margin: auto;
    }

#mbpTitle {
    grid-area: h1;
}

#maskBox {
    grid-area: mask;
    display: grid;
}
    #maskBox img {
        justify-self: center;
    }
.mask.hidden {
    display: none;
}

#braBox {
    grid-area: bra;
    display: grid;
}
    #braBox img {
        justify-self: center;
    }
.bra.hidden {
    display: none;
}

#pantyBox {
    grid-area: pan;
    display: grid;
}
    #pantyBox img {
        justify-self: center;
    }

.panty.hidden {
        display: none;
}

#mbpText {
    grid-area: text;
}


/*** Carousel ***/
.carousel {
    grid-area: carou;
    width: 100vw;
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    align-items: flex-start;
    margin: 2em auto 0 auto;
}

.slide { 
    flex-shrink: 0; 
    width: 90%;
    scroll-snap-align: start;
    overflow: hidden;
}
    .slide img {
        vertical-align: middle;
        object-fit: contain;
        height: 100%;
        width: 100%;
    }

.imgText {
    /* width: 80%; */
    margin: 0.75em;
    background-color: var(--textBg);
    padding: 1.5em;
    border-radius: 1em;
}


/*** img ***/
#maid {
    grid-area: maid;

    margin:0 auto 1em auto;
    width: 100vw;
}


/*Request*/
.requestBox {
    grid-area: requ;

    position: relative;
    height: 70vh;
    margin: auto;
    top: -1em;
    right: 0.25em;
}

.requOffsetStyle {
    background-color: var(--textBgDarker);
    padding: 2em;
    border-radius: 1em;
    width: 85vw;
}

.requBox {
    position: relative;
    display: grid;
    grid-template-rows: auto 5.5em;
    grid-template-areas: 
        "text"
        "btn";
}

.requText {
    grid-area: text;
}

.requBtn {
    grid-area: btn;

    justify-self: center;
}

.requBtn h4 {
    color: var(--btnText);
}


/*** Modal ***/
#requestModal {
    display: none;

    position: absolute;
    bottom: 6em;
    left: 0;
    right: 0;

    background-color: var(--textBg);
    max-width: 90vw;
    margin: auto;
    padding: 1.5em;
    border-radius: 1em;

    grid-template-columns: auto 3em;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "intro x"
        "word  word"
        "email btn";
}
    #requestModal.open {
        display: grid;
        z-index: 10;
    }

#modalX {
    grid-area: x;
    align-self: start;
    justify-self: end;
}

.modalX.hidden {
    display: none;
}

#modalIntro {
    grid-area: intro;
    margin: 0 0.5em 0 0;
}

#modalWord {
    grid-area: word;
    margin: 1em 0 0 0;
}

#modalEmail {
    grid-area: email;
    margin: 0 0.5em 0 0;
    justify-self: end;
    align-self: center;
}

#emailCopy {
    grid-area: btn;
    justify-self: end;
}

.copyBtn.hidden {
    display: none;
}


/*** FOOT ***/
#foot {
    grid-area: foot;
    background-color: var(--footBg);
    color: var(--footText);
    padding: 0.75em;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "email social"
        "copy copy";
}

#footEmail {
    grid-area: email;
}

#foot-social {
    display: block;
    grid-area: social;
    justify-self: end;
}

#copyR {
    grid-area: copy;
    color: var(--footText);
}

/******************************** Reponsive **********************************/

/*** iPhone X 375 **************************/
@media screen and (min-width: 375px) {
    body {
        font-size: 1.1em;
        line-height: 1.25em;
    }

    body.dark {
        font-size: 1.1em;
        line-height: 1.25em;
    }
    
    #tagLine {
        width: 80vw; 
    }

    #navLogo img {
        width: 2.5em;
    }

    .icon {
        width: 1.75rem;
    }

    #maskBraPanty {
        max-width: 90vw;
        margin: auto;
    }
        #maskBraPanty img {
            width: 50vw;
        }
        #maskBraPanty h1 {
            font-size: 2em;
        }
}

/*** phone landscape 425 **************************/
@media screen and (min-width: 425px) {
    body {
        font-size: 1.1em;
        line-height: 1.25em;
    }

    body.dark {
        font-size: 1.1em;
        line-height: 1.25em;
    }

    #tagLine {
        width: 80vw; 
    }

    #navLogo img {
        width: 3em;
    }

    .icon {
        width: 1.75rem;
    }

    #maskBraPanty {
        max-width: 90vw;
        margin: auto;
    }
        #maskBraPanty img {
            width: 50vw;
        }
        #maskBraPanty h1 {
            font-size: 2em;
        }
}


/*** tablet 768 ******************************/
@media screen and (min-width: 768px) {
    body {
        font-size: 1.2em;
    }

    body.dark {
        font-size: 1.2em;
    }

    #tagLine {
        width: 60vw; 
    }

    #navLogo img {
        width: 4.5em;
    }

    .icon {
        width: 2rem;
    }

    #maid {
        max-width: 60vw;
    }

    #maskBraPanty {
        max-width: 60vw;
        margin: 2em auto;
    }
        #maskBraPanty img {
            width: 30vw;
        }
        #maskBraPanty h1 {
            font-size: 2.75em;
        }

    .imgText {
        max-width: 60vw;
        margin: 0.75em auto 1.5em 0.75em;
    }

    .requestBox {
        max-width: 60vw;
        margin: 0 auto 2em auto;
    }

    #requestModal {
        bottom: 7em;
        max-width: 60vw;
        margin: auto;
    }
}


/*** tablet 960 ******************************/
@media screen and (min-width: 960px) {
    body {
        font-size: 1.2em;
    }

    body.dark {
        font-size: 1.2em;
    }

    #tagLine {
        width: 55vw; 
    }

    #maid {
        width: 55vw;
    }

    #navLogo img {
        width: 5em;
    }

    .icon {
        width: 2rem;
    }

    #maskBraPanty {
        max-width: 55vw;
        margin: 2em auto;
    }
        #maskBraPanty img {
            width: 25vw;
        }
        #maskBraPanty h1 {
            font-size: 3em;
        }

    li {
        font-size: 1.2em;
    }

    .imgText {
        max-width: 55vw;
        margin: 0.75em auto 1.5em 0.75em;
    }

    .requestBox {
        max-width: 55vw;
    }

    #requestModal {
        bottom: 7em;
        max-width: 55vw;
    }
}


/*** Laptop / iPad 1024 ******************************/
@media screen and (min-width: 1024px) {
    body {
        font-size: 1.4em;
    }

    body.dark {
        font-size: 1.4em;
    }

    #navLogo {
        padding: 2em;
    }

    #navLogo img {
        width: 6em;
    }

    #tagLine {
        width: 60vw; 
    }

    .tagBg {
        width: 80vw;
        margin: auto;
    }

    .icon {
        width: 2.75rem;
    }

    #maid {
        width: 60vw;
        display: grid;
    }

    #maskBraPanty {
        max-width: 60vw;
        margin: auto;
    }

    #maskBraPanty img {
        width: 40vw;
        padding: 2em;
        margin: auto;
    }

    #maskBraPanty h1 {
        font-size: 2.5em;
    }

    .imgText {
        max-width: 60vw;
        margin: 0.75em auto 1.5em 0.75em;
    }

    .requestBox {
        max-width: 60vw;
    }

    #requestModal {
        bottom: 7em;
        max-width: 60vw;
    }
} 

/*** laptop 1440 ********************************/
@media screen and (min-width: 1440px) {	
    body {
        font-size: 1.4em;
    }

    body.dark {
        font-size: 1.4em;
    }

    li {
        font-size: 1.8em;
    }

    #navLogo {
        padding: 2em;
    }
        #navLogo img {
            width: 7em;
        }

    #tagLine {
        width: 50vw; 
    }

    .tagBg {
        width: 80vw;
        margin: auto;
    }

    .icon {
        width: 2.75rem;
    }

    #maid {
        width: 60vw;
    }

    #maskBraPanty {
        max-width: 50vw;
    }

    #maskBraPanty img {
        width: 30vw;
    }

    #maskBraPanty h1 {
        font-size: 3em;
    }

    .imgText {
        max-width: 50vw;
        margin: 1em auto 1.5em 1em;
    }

    .requestBox {
        max-width: 50vw;
    }

    #requestModal {
        bottom: 7em;
        max-width: 50vw;
    }

    #foot {
        padding: 1em;
    }

    /*carousel*/
    .slide { 
        width: 70%;
    }
} 

/*** desktop 1920 ********************************/
@media screen and (min-width: 1920px) {	
    body {
        font-size: 1.5em;
    }

    body.dark {
        font-size: 1.5em;
    }

    #navLogo {
        padding: 2em;
    }
        #navLogo img {
            width: 8em;
        }

    #tagLine {
        width: 40vw; 
    }

    .icon {
        width: 3.5rem;
    }

    #maid {
        width: 40vw;
    }

    #maskBraPanty {
        max-width: 40vw;
    }

    #maskBraPanty img {
        width: 30vw;
    }

    #maskBraPanty h1 {
        font-size: 3.5em;
    }

    .imgText {
        max-width: 40vw;
        margin: 1em auto 1.5em 1em;
    }

    .requestBox {
        max-width: 40vw;
    }

    #requestModal {
        bottom: 7em;
        max-width: 40vw;
    }

    #foot {
        padding: 1em;
    }

    /*carousel*/
    .slide { 
        width: 70%;
    }
} 


/*** 27-inch iMac 2560 ********************************/
@media screen and (min-width: 2560px) {	
    body {
        font-size: 2.5em;
    }

    body.dark {
        font-size: 2.5em;
    }

    #navLogo {
        padding: 4em;
    }
        #navLogo img {
            width: 17em;
        }

    #tagLine {
        width: 40vw; 
    }

    .icon {
        width: 7rem;
    }

    #maid {
        width: 40vw;
    }

    #maskBraPanty {
        max-width: 40vw;
    }

    #maskBraPanty img {
        width: 30vw;
    }

    #maskBraPanty h1 {
        font-size: 3em;
    }

    .imgText {
        max-width: 40vw;
        margin: 1em auto 1.5em 1em;
    }

    .requestBox {
        max-width: 40vw;
    }

    #requestModal {
        bottom: 7em;
        max-width: 40vw;
    }

    #foot {
        padding: 2em;
    }

    /*carousel*/
    .slide { 
        width: 70%;
    }
} 



