@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');


/* LLAYLLA colors

Dark blue main: #003a4c
Dark blue med: #336170
Dark blue fade: #668994

Peach main: #ffd2bc
Peach med:  #ffdbc9
Peach fade: #ffe4d7

Red main: #ea3e00
Red med: #ee6533
Red fade: #f28b66 */

/* Light mode */
html {
    --bg: #ffe4d7;
    --textBg: #ffdbc9;
    --text: #003a4c;
    --h1: #336170;
    --h2: #003a4c;
    --h3: #003a4c;
    --h4: #003a4c;
    --h5: #003a4c; 
    --footBg: #003a4c;
    --footText: #ffe4d7;
    --btn: #f28b66;
    --link: #ee6533;
    --boxShdw: #003a4c44;

    background-color: var(--color-bg);
}

/* Dark mode  */
/* html.dark {

    background-color: var(--bg);
} 
*/

body {
    --font-head: 'Lexend Deca', sans-serif;
    --font-body: 'Jost', sans-serif;
    position: relative;
    overflow: hidden;
    font-size: 1em;

    background: url(/img/pattern-no-SE-LLAYLLA.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top 14em center;;
    width: 100%;
}

p {
    font-family: var(--font-body);
    font-weight: 300;
	line-height: 1.25em;
    max-width: 35em;
    color: var(--color-h6);
}

time {
    font-family: var(--font-body);
    font-weight: 300;
    max-width: 35em;
    color: var(--color-h6);
}

li {
    font-family: var(--font-body);
    font-weight: 300;
	line-height: 1em;
    max-width: 35em;
    color: var(--color-h6);
}

a {
    text-decoration: none;
    font-family: var(--font-body);
    font-weight: 300;
    max-width: 35em;
    color: var(--color-link);
}

h1 {
    font-family: var(--font-head);
    font-size: 2em;
	line-height: 1.5em;
    max-width: 35em;
    color: var(--h1);
}

h2 {
    font-family: var(--font-body);
    font-size: 1.5em;
    line-height: 1.25em;
    font-weight: 200;
    max-width: 35em;
    color: var(--h2);
}

h3 {
    font-family: var(--font-head);
    font-size: 1.25em;
	line-height: 1em;
    max-width: 35em;
    color: var(--h3);
}

h4 {
    font-family: var(--font-body);
    font-weight: 600;
    max-width: 35em;
    color: var(--h4);
}

h5 {
    font-family: var(--font-body);
    font-weight: 400;
    max-width: 35em;
    color: var(--h5);
}


button {
    padding: 0; 
    background: transparent;
    border: none;
    outline: 0;
}

.hidden {
    display: none;
}


/*** Home page ***/
#master-grid-index {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-template-areas: 
        "nav"
        "main"
        "foot";
}


/*** NAV ***/
#nav {
    grid-area: nav;
    position: relative;
    top: 0em;
    left: 0em;
    z-index: 30;
    height: 3.5em;
    width: 100%;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
    "logo .";
}

.icon {
    width: 1.5rem;
}

#navLogo {
    grid-area: logo;
    justify-self: start;
    align-self: start;
    position: fixed;
    padding: 0.75em;
    z-index: 10;
}
    #navLogo img {
        width: 2.5em;
    }

#main {
    grid-area: main;    
}

.hero {
    width: 100vw;
}

#landHero {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.tagLine {
    background-color: var(--textBg);
    font-size: 1em;
    line-height: 1em;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0.75em 0.75em 1.25em var(--boxShdw); 
    margin: 17em auto 3em;
    width: 80vw;
}

#tagWordLogo {
    width: 10em;
    display: flex;
    padding: 0 0 0.5em 0;
}

#maid {
    margin: 1em auto;
}

#maskBraPanty {
    background-color: var(--textBg);
    margin: 2em 0.75em;
    padding: 1.5em;
    border-radius: 1em;
    display: flex;
    box-shadow: 0.75em 0.75em 1.25em var(--boxShdw); 
}
    #maskBraPanty img {
     padding: 0 1em 0 0;
    }

.carousel {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    align-items: flex-start;
    margin: 2em auto;
}

.slide { 
    flex-shrink: 0; 
    width: 90%;
    scroll-snap-align: start;
    overflow: hidden;
}
    .slide img {
        vertical-align: middle;
        object-fit: contain;
        height: 100%;
        width: 100%;
    }

.imgText {
    margin: 0.75em;
    background-color: var(--textBg);
    padding: 1.5em;
    border-radius: 1em;
}

.textBox {
    background-color: var(--textBg);
    margin: 2em 0.75em;
    padding: 1.5em;
    border-radius: 1em;
    box-shadow: 0.75em 0.75em 1.25em var(--boxShdw); 
}

.request {
    display: flex;
}
    .request h4 {
        background-color: var(--btn);
        font-size: 1em;
        line-height: 1em;
        margin: 0 auto;
        padding: 1.5em;
        border-radius: 1em;
        box-shadow: 0.75em 0.75em 1.25em var(--boxShdw); 
    }

#requestModal {
    background-color: var(--textBg);
    margin: 2em 0.75em;
    padding: 1.5em;
    border-radius: 1em;

    display: grid;
    grid-template-columns: auto 1.5em;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        ". x"
        "word word"
        "email btn";
}

#modalX {
    grid-area: x;
}

#modalWord {
    grid-area: word;
    padding: 1em 0;
}

#modalEmail {
    grid-area: email;
}

#emailCopy {
    grid-area: btn;
}

#foot {
    grid-area: foot;
    background-color: var(--footBg);
    color: var(--footText);
    padding: 0.75em;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
        ". social"
        "copy copy";
}

#foot-social {
    display: block;
    justify-self: flex-end;
    grid-area: social;
}

.copy {
    grid-area: copy;
}

/******************************** Reponsive **********************************/

/*** phone 375 *************************
@media screen and (min-width: 375px) {

}
*/

/*** phone landscape 480 **************************
@media screen and (min-width: 480px) {

}
*/

/*** tablet 760 ******************************
@media screen and (min-width: 760px) {

}
*/

/*** tablet 960 ******************************
@media screen and (min-width: 960px) {
    
}
*/

/*** old laptop / iPad 1024 ******************************
@media screen and (min-width: 1024px) {
  
} 
*/

/*** laptop 1280 ********************************
@media screen and (min-width: 1280px) {	

} 
*/

/*** laptop 1440 ********************************
@media screen and (min-width: 1280px) {	

} 
*/

/*** desktop 1920 ********************************
@media screen and (min-width: 1920px) {	

} 
*/

/*** 27-inch iMac 2560 ********************************
@media screen and (min-width: 2560px) {	

} 
*/


